body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  word-break: break-word;
}

section {
  border-bottom: 1px solid #eee;
  margin: 0 0 1.5em 0;
  padding: 0 0 1.5em 0;
}

section:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

div#container {
  margin: 0 auto 0 auto;
}

code {
  padding: 0.1em 0.25em;
  color: #444;
  background-color: #e7edf3;
  border-radius: 3px;
  border: solid 1px #d6dde4;
  font-weight: 400;
}

p {
  color: #444;
  font-weight: 300;
}

p#data {
  border-top: 1px dotted #666;
  line-height: 1.3em;
  max-height: 1000px;
  overflow-y: auto;
  padding: 1em 0 0 0;
}

p.borderBelow {
  border-bottom: 1px solid #aaa;
  padding: 0 0 20px 0;
}

video {
  background: #000;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

div#warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 1em;
  border: 1px solid transparent;
}

div.box {
  margin: 1em;
}

div#message {
  border-top: 1px solid #666;
  margin: 1em;
  padding: 1em;
}

@media screen and (max-width: 650px) {
  .highlight {
    font-size: 1em;
    margin: 0 0 20px 0;
    padding: 0.2em 1em;
  }

  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  button:active {
    background-color: darkRed;
  }

  h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 20px;
  }
}

#player {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #000;
  height: 600px;
  width: 100%;
}

#player:before {
  content: "";
  display: block;
  padding-top: 66%;
}

#playButton {
  width: 15%;
  max-width: 200px;
  cursor: pointer;
}

#Video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fullscreenButton {
  position: absolute;
  top: 96px;
  right: 14px;
  width: 32px;
  height: 32px;
}

#notes {
  width: 55%;
  margin-left: 21%;
}

.note-container {
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.timestamp {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.timestamp-button {
  cursor: default;
  border: none;
  width: fit-content;
  background: black;
  color: white;
  border-radius: 40px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  min-width: 70px;
}

.textarea-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.textarea {
  min-height: 112px;
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  min-width: 100%;
  max-width: 100%;
  cursor: text;
}

.textarea-saved {
  padding: 1.4rem;
  background: rgb(247, 249, 250);
  color: rgb(28, 29, 31);
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  min-width: 40%;
  min-height: 112px;
}

.update-buttons {
  display: none;
  position: absolute;
  top: 15px;
  right: 35px;
  gap: 10px;
}

.delete-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}

.edit-button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0px;
}

.action-buttons {
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.cancel-button {
  cursor: pointer;
  font-size: 16px;
  color: rgb(28, 29, 31);
  background: transparent;
  height: 34px;
  border: none;
  font-weight: bold;
}

.save-button {
  cursor: pointer;
  font-size: 16px;
  background: rgb(28, 29, 31);
  color: rgb(255, 255, 255);
  height: 34px;
  padding: 0px 16px;
  border: none;
  font-weight: bold;
}

.divider {
  position: relative;
  margin-top: 30px;
  height: 3px;
  margin-bottom: 20px;
  width: 180%;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  margin-left: -20%;
  background-image: linear-gradient(to right, transparent, rgb(53, 4, 23), transparent);
}

.add-note {
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.add-note-button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.notes-header {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.header-divider {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.header-divider:before,
.header-divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.notes-title {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}